@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* background: rgb(18,61,120); */
  /* background: linear-gradient(90deg, rgba(18,61,120,1) 0%, rgba(21,37,81,1) 100%); */
  background: #000000;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  position: relative;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hexagone main container */

.game-wheel-whole-window{
  display: grid;
  grid-template-rows: 100px 600px;
  height: 700px;
}

.notification-panel-container{
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-631px);
}

.gamewheel-main-container{
  display: grid;
  padding: 5px;
  grid-template-columns: 360px 600px 300px;
  position: relative;
  /* background-color: rgb(37, 8, 105); */
  background-color: #000000;
}

/* captin info card section */

.captain-info-holder{
  position: absolute;
  top: 40px;
  left: 120px;
}

.captain-title{
  font-size: 10px;
  margin: 0;
}

.captain-name{
  font-size: 17;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
}

.captain-info-bottom-stripe{
  position: absolute;
  top: 87px;
  left: 6px;
}

/* team card container */
.team-info-card-container{
  position: relative;
  margin-top: 20px;
}

.team-info-card-bg{
  position: relative;
  height: 360px;
  width: 285px;
  left: 34px;
  background: linear-gradient(to right, #00FFFF, #ffffff 100%);
  opacity: .1;
  border-radius: 40px;
  mix-blend-mode: difference;
  transform: rotateZ(74deg);
}

.team-info-card-box{
  position: absolute;
  left: 34px;
}

.team-info-your-name-title{
  display: grid;
  place-items: center;
 width: 173px;
 height: 38.86px;
 position: absolute;
 left: 71px;
 border-radius: 20px
}
.team-info-card-header{
  position: absolute;
  width: 173px;
  height: 38.86px;
  top: 20px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 20px;
}
.team-info-your-name-title p{
  position: absolute;
  /* left: 9.26%; */
  /* right: 84.57%; */
  top: 30.57%;
  bottom: 57.82%;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 163.1%;
}

.team-player-name-role-icon-container{
  position: absolute;
  width: 205px;
  height: 40px;
  left: 15.33%;
  top: 98px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: antiquewhite; */
}

.team-player-icon-container{
  width: 25px;
  height: 25px;
  display: inline-grid;
  place-items: center;
  border: 1.5px solid #00FFFF;
  border-radius: 50%;
}

.team-player-role-container{
  position: relative;
  top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 163.1%;
  display: flex;
  color: #00FFFF;
  margin-right: 30px;
  height: 60px;
  flex-wrap: wrap;
}
.team-player-name-container{
  font-weight: 400;
  font-size: 16px;
  line-height: 163.1%;
}

.atom{
  width: 205px;
  height: 40px;
  left: 15.33%;
  top: 159px;
}
.atom-icon-container{
  position: relative;
  left: 10px;
  width: 24px;
  height: 21px;
  aspect-ratio: 1/1;
  border: none;
  margin-right: 10px;
}

.atom-role-container{
  position: relative;
  left: 15px;
}


.team-info-card-bottom-stripe{
  position: absolute;
  top: 258px;
  left: 40px;
}


/* hexagone conatiner section */
.hexagone-container{
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /* margin-top: 100px; */
  /* border: 3px solid rgba(255, 255, 255, .55); */
  border: 3px solid #00FFFF80;
  /* transform: scale(.9) */
}

/* beacon information container  */
.beacon-info-container{
  background-color: antiquewhite;
  width: 360px;
  display: inline-block;
}

.circleSvg-container{
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  /* background-color: rgb(0, 204, 255); */
}

.a{
  /* stroke: rgba(255, 255, 255, 0.438); */
  stroke: #00FFFF80;
  fill: none;
  stroke-width: 2;
  z-index: 10;
  mix-blend-mode: screen;
}
.cls-1{
  fill:  none;
  /* fill:  yellow; */
  stroke: rgba(160, 160, 160, 0.2);
  z-index: -1;
}


/* hexagone container vertical section  */
.vertical-section{
  position: absolute;
  /* border: 2px solid red ; */
  border: 1px solid #00FFFF80;
  height: 100%;
  background-color: transparent;
  z-index: 3;
}
.two-section{
  transform: rotateZ(45deg);
}
.three-section{
  transform: rotateZ(90deg);
}
.four-section{
  transform: rotateZ(135deg);
}

.hexagone-single{
  /* background-color: rgb(98, 0, 255); */
  /* border-color: aqua; */
  z-index: 5;
  /* background-color: rgba(0, 0, 0, .44); */
}

.spaceship-container{
  position: absolute;
  /* background-color: blue; */
  z-index: 11;
  left: -7px;
  top: 0px;
  /* left: calc( 50% - 20px); */
}

.starship{
  /* background-color: aquamarine; */
  position: relative;
  left: -10px;
  top: -20px;
  /* bottom: -14px; */
}
/* .spaceship-icon{
  background-color: red;
  position: relative;
  bottom: 0;
  left: 500px;
} */

.tippy-box[data-theme~='planet-tooltip-theme'] {
  background-color: rgb(71, 99, 255);
  color: rgb(255, 255, 255);
}

.messages-main-container{
  background-color: cadetblue;
  height: 70%;
}

.messages-showcase{
  background-color: rgb(238, 247, 247);
  height: 320px;
  max-height: 320px;
  width: calc( 100% - 20px);
  margin: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}



.messages-showcase li{
  list-style: none;
}

.self-messages-list{
  color: black;
}
.opponent-messages-list{
  color: red;
}

.messages-writing-box{
  width: calc( 100% - 20px);
  margin: 10px;
  height: 80px;
}

.messages-writing-box input{
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.messages-writing-box button{
  margin: 0;
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(62, 60, 209);
}


.beacon-icon-container{
  background-color: yellow;
  height: 50px;
  display: grid;
  place-items: center;
}

#beacon-icon{
  height: 20px;
  width: 100px;
  display: inline-block;
  background-color: rgb(15, 107, 15);
  border: 3px solid rgb(27, 247, 27);
  border-radius: 5px;
  background-color: rgb(15, 107, 15);
  animation: animateBeaconIcon 20s ease infinite;
  transform: rotateZ(-10deg);
}

@keyframes animateBeaconIcon {
  0%{
    transform: rotateZ(-10deg);
    background-color: rgb(15, 107, 15);
    border: 3px solid rgb(27, 247, 27);
  }  
  20%{
    transform: rotateZ(0deg);
    border: 3px solid rgb(21, 139, 21);
    background-color: rgb(21, 139, 21);
  }  
  40%{
    transform: rotateZ(10deg);
    background-color: rgb(32, 199, 32);
    border: 3px solid rgb(27, 247, 27);
  }  
  60%{
    transform: rotateZ(10deg);
    ackground-color: rgb(32, 199, 32);
    border: 3px solid rgb(27, 247, 27);
  }  
  80%{
    transform: rotateZ(0deg);
    background-color: rgb(21, 139, 21);
    border: 3px solid rgb(21, 139, 21);
  }  
  100%{
    transform: rotateZ(-10deg);
    background-color: rgb(15, 107, 15);
    border: 3px solid rgb(27, 247, 27);
  }  
}


/* planets theme customization info  */

.destination{
  position: absolute;
  left: 47%;
  top: 7px;
  border: 1px solid red;
  z-index: 7;
}

.p1{
  position: absolute;
  left: 8.7%;
  top: 54.7%;
  border: 1px solid red;
  z-index: 7;
}

.raiders{
  position: absolute;
}

.p2{
  position: absolute;
  left: 19%;
  top: 12.7%;
  border: 1px solid red;
  z-index: 7;
}

.p3{
  position: absolute;
  left: 39.7%;
  top: 9%;
  border: 1px solid red;
  z-index: 7;
}

.p4{
  position: absolute;
  left: 46.7%;
  top: 37%;
  border: 1px solid red;
  z-index: 7;
}

.p5{
  position: absolute;
  left: 32.7%;
  top: 60.7%;
  border: 1px solid red;
  z-index: 7;
}

.p6{
  position: absolute;
  left: 60.5%;
  top: 85%;
  border: 1px solid red;
  z-index: 7;
}

.p7{
  position: absolute;
  left: 53.5%;
  top: 49%;
  border: 1px solid red;
  z-index: 7;
}

.p8{
  position: absolute;
  left: 12%;
  top: 25%;
  border: 1px solid red;
  z-index: 7;
}

.p9{
  position: absolute;
  left: 84.8%;
  top: 27%;
  border: 1px solid red;
  z-index: 7;
}

.p10{
  position: absolute;
  left: 36.3%;
  top: 35%;
  border: 1px solid red;
  z-index: 7;
}

.p11{
  position: absolute;
  left: 74%;
  top: 61%;
  border: 1px solid red;
  z-index: 7;
}

.p12{
  position: absolute;
  left: 64%;
  top: 11%;
  border: 1px solid red;
  z-index: 7;
}

.p13{
  position: absolute;
  left: 19%;
  top: 76.5%;
  border: 1px solid red;
  z-index: 7;
}

.p14{
  position: absolute;
  left: 81%;
  top: 49%;
  border: 1px solid red;
  z-index: 7;
}

.p15{
  position: absolute;
  left: 67.5%;
  top: 37%;
  border: 1px solid red;
  z-index: 7;
}

/* game icons info */

.game-icon-main-list-container{
  position: absolute;
  top: 81px;
  left: 1010px;
}

.game-icon-info-container{
  position: absolute;
  top: 81px;
  left: 1010px;
  z-index: 4;
}

.game-icon-list-single-item{
  position: absolute;
  display: flex;
  z-index: 10;
  top: 80px;
  margin-left: 55px;
  /* position: relative; */
  /* top: 0; */
  /* left: 50px; */
  /* background-color: red; */
}
.game-icon-list-single-item-image-container{
  /* background-color: teal; */
  width: 40px;
  display: grid;
  place-items: center;
  margin-right: 20px;
}

.game-icon-list-single-item p{
  font-weight:500;
  font-size:16px;
  line-height:26.1px;
  color: #ffffff;
}
.icon-info-card-bottom-stripe{
  position: absolute;
  top: 354px;
  left: 1020px;
}

.one-item{
  position: absolute;
  top: 110px;
}
.two-item{
  position: absolute;
  top: 150px;
}
.three-item{
  position: absolute;
  top: 190px;
}
.four-item{
  position: absolute;
  top: 230px;
}
.five-item{
  position: absolute;
  top: 270px;
}
.six-item{
  position: absolute;
  top: 310px;
}

/* Bottom panel design section */

.Bottom-panel-container{
  height: 100px;
  overflow: hidden;
  top: -100px;
  position: relative;
}

.left-bottom-main-container{
  position: absolute;
  left: -218px;
}

.right-bottom-main-container{
  position: absolute;
  top: 0;
  right: -218px;
}