html,
body {
  padding: 0;
  margin: 0;
  background: rgb(18,61,120);
  background: linear-gradient(90deg, rgba(18,61,120,1) 0%, rgba(21,37,81,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hexagone main container */

.hexagone-container{
  height: 660px;
  width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 3px solid rgba(255, 255, 255, .55);
}


/* hexagone container circle section  */
.circle-section{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background-color: transparent;
  border-radius: 50%;
  z-index: 3;
}

.first-section{
  width: 80%;
  height: 80%;
  background-color: transparent;
  z-index: 3;
}
.second-section{
  width: 60%;
  height: 60%;
  background-color: transparent;
  z-index: 3;
}
.third-section{
  width: 40%;
  height: 40%;
  background-color: transparent;
  z-index: 3;
}
.fourth-section{
  width: 20%;
  height: 20%;
  background-color: transparent;
  z-index: 3;
}

/* hexagone container vertical section  */
.vertical-section{
  position: absolute;
  /* border: 2px solid red ; */
  border: 1px solid rgba(255, 255, 255, 0.35);
  height: 100%;
  background-color: transparent;
  z-index: 3;
}
.two-section{
  transform: rotateZ(45deg);
}
.three-section{
  transform: rotateZ(90deg);
}
.four-section{
  transform: rotateZ(135deg);
}

.hexagone-single{
  /* background-color: rgb(98, 0, 255); */
  /* border-color: aqua; */
  z-index: 5;
  /* background-color: rgba(0, 0, 0, .44); */
}

.spaceship-container{
  position: absolute;
  /* background-color: blue; */
  z-index: 11;
  left: 0px;
  top: 0px;
  /* left: calc( 50% - 20px); */
}

.starship{
  /* background-color: aquamarine; */
  position: relative;
  left: -10px;
  top: -20px;
  /* bottom: -14px; */
}
/* .spaceship-icon{
  background-color: red;
  position: relative;
  bottom: 0;
  left: 500px;
} */

.destination{
  position: absolute;
  left: 50%-30px;
  top: 0px;
  border: 1px solid red;
  z-index: 7;
}

.p1{
  position: absolute;
  left: 12%;
  top: 57%;
  border: 1px solid red;
  z-index: 7;
}

.p2{
  position: absolute;
  left: 21%;
  top: 14%;
  border: 1px solid red;
  z-index: 7;
}

.p3{
  position: absolute;
  left: 50%-30px;
  top: 15%;
  border: 1px solid red;
  z-index: 7;
}

.p4{
  position: absolute;
  left: 50%;
  top: 30%;
  border: 1px solid red;
  z-index: 7;
}

.p5{
  position: absolute;
  left: 32%;
  top: 67%;
  border: 1px solid red;
  z-index: 7;
}

.p6{
  position: absolute;
  left: 60%;
  top: 78%;
  border: 1px solid red;
  z-index: 7;
}

.p7{
  position: absolute;
  left: 57%;
  top: 57%;
  border: 1px solid red;
  z-index: 7;
}

.p8{
  position: absolute;
  left: 14%;
  top: 30%;
  border: 1px solid red;
  z-index: 7;
}

.p9{
  position: absolute;
  left: 86%;
  top: 32%;
  border: 1px solid red;
  z-index: 7;
}

.p10{
  position: absolute;
  left: 37%;
  top: 35%;
  border: 1px solid red;
  z-index: 7;
}

.p11{
  position: absolute;
  left: 75%;
  top: 65%;
  border: 1px solid red;
  z-index: 7;
}

.p12{
  position: absolute;
  left: 60%;
  top: 12%;
  border: 1px solid red;
  z-index: 7;
}

.p13{
  position: absolute;
  left: 20%;
  top: 77%;
  border: 1px solid red;
  z-index: 7;
}

.p14{
  position: absolute;
  left: 85%;
  top: 50%;
  border: 1px solid red;
  z-index: 7;
}

.p15{
  position: absolute;
  left: 68%;
  top: 37%;
  border: 1px solid red;
  z-index: 7;
}

.circleSvg-container{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.cls-1{
  fill: transparent;
  stroke: blue;
}