html,
body {
  padding: 0;
  margin: 0;
  background: rgb(18,61,120);
  background: linear-gradient(90deg, rgba(18,61,120,1) 0%, rgba(21,37,81,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* hexagone main container */

.hexagone-container{
  height: 660px;
  width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 3px solid rgba(255, 255, 255, .55);
}


/* hexagone container circle section  */
.circle-section{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.45);
  background-color: transparent;
  border-radius: 50%;
  z-index: 3;
}

.first-section{
  width: 80%;
  height: 80%;
  background-color: transparent;
  z-index: 3;
}
.second-section{
  width: 60%;
  height: 60%;
  background-color: transparent;
  z-index: 3;
}
.third-section{
  width: 40%;
  height: 40%;
  background-color: transparent;
  z-index: 3;
}
.fourth-section{
  width: 20%;
  height: 20%;
  background-color: transparent;
  z-index: 3;
}

/* hexagone container vertical section  */
.vertical-section{
  position: absolute;
  /* border: 2px solid red ; */
  border: 1px solid rgba(255, 255, 255, 0.35);
  height: 100%;
  background-color: transparent;
  z-index: 3;
}
.two-section{
  transform: rotateZ(45deg);
}
.three-section{
  transform: rotateZ(90deg);
}
.four-section{
  transform: rotateZ(135deg);
}

.hexagone-single{
  /* background-color: rgb(98, 0, 255); */
  /* border-color: aqua; */
  z-index: 5;
  /* background-color: rgba(0, 0, 0, .44); */
}

.spaceship-container{
  position: absolute;
  background-color: blue;
  z-index: 4;
  left: 0px;
  top: 0px;
  /* left: calc( 50% - 20px); */
}

.starship{
  /* background-color: aquamarine; */
  position: relative;
  left: 10px;
  bottom: -14px;
}
/* .spaceship-icon{
  background-color: red;
  position: relative;
  bottom: 0;
  left: 500px;
} */